html{
	width: 100%;
  height: 100%;
}
body{
  margin:0%;
  font-family: initial;
}
/* close current window */
#closeTab{
	/* position: absolute; */
	/* top:1rem;
  right:5rem; */
  margin-left: auto;
	height: 4vh;
  background: rgb(255, 255, 255);
  background: rgba(26, 27, 25, 0.1);

}

/*grid register*/
.registerGrid{
	display: grid;
	grid-template-areas: 
	"description description"
	"register  register"
  "foot foot";
  /* position: relative; */
  
}


.description{
  grid-area: description;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: rgba(243, 247, 240, 0.1);
}

.register{
  grid-area: register;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 1%;
  /* background: rgba(28, 29, 31, 0.2); */
}
.register>form {
  box-shadow: 1px 1px 10px 1px rgb(214, 222, 241);
  padding: 30px 40px 30px 40px;
}
label{color: black;}
.register >form> input{
  padding-left: 5px;
  width: 90%;
  height: 3.5vh;
  color: rgb(0, 0, 0);
  margin-bottom: 3%;
  margin-top: 1%;
}
#submitButton{
  cursor: pointer;
	height: 4.5vh;
	width: 25%;
	margin-top: 5px;
  background: rgba(26, 27, 25, 0.1);
  border: none;
  color:rgb(0, 0, 0);	
  text-align: center;
}
 form>p ,#signin >a{
	 	color:black;
     padding: 0.5rem;
     margin-top: 0%;
	 }

.footer{
  grid-area: foot;
  text-align: center;
  background:rgb(59, 59, 59);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -10%;

}


/* media query */
@media all and (max-height: 470px){
  form{font-size: 12px;}
  #submitButton{font-size: 10px;
  padding-bottom:10px;}
 .description{font-size: 16px}
 .footer{margin-bottom: -8em;
font-size: 12px;}
 
}

@media all and (max-height: 470px){
 .footer{margin-bottom: -15em;}
}